* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(233, 47%, 7%);
}

main {
  max-width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

section {
  background-color: hsl(244, 38%, 16%);
  margin: 2rem;
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
}

section img {
  width: 100%;
  border-radius: 0.5rem 0.5rem 0 0;
  filter: opacity(0.45) drop-shadow(0 0 0 hsl(277, 100%, 50%));
}

section .content {
  margin: 2rem 1.75rem;
  text-align: center;
}

.content h1 {
  color: white;
  font: 700 1.75rem Inter;
  padding-bottom: 1.75rem;
}

h1 span {
  color: hsl(277, 64%, 61%);
}

.content p {
  color: hsla(0, 0%, 100%, 0.75);
  font: 400 15px Inter;
  line-height: 1.75rem;
}

.statistics {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 1.75rem;
  gap: 1.75rem;
}

.statistics h2 {
  color: white;
  font: 700 1.5rem Inter;
}

.statistics p {
  color: hsla(0, 0%, 100%, 0.6);
  font: 400 0.75rem Lexend Deca;
  text-transform: uppercase;
  line-height: 1.75rem;
  letter-spacing: 0.05rem;
}
